body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
 
}

.container {
    background-color:white;
}
table {
    
       border-radius: 10px !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



ul#menu li{
    display:inline;
    margin-right:40px;
} 

.panel-default .panel-heading-custom {
    background: darkcyan;
    color: white;
}


.panel-body-custom {
    background: papayawhip ;
}

.panel-footer-custom {
    background:steelblue;
    color: white;
}


.disableDiv {
    pointer-events: none;
    opacity: 0.4;
  
}