<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://genesisapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>genesisapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>genesisapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$genesisapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GenAppContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gendb.database.windows.net,1433;Initial Catalog=genesisapp_db;User ID=GenAppDbServer@gendb;Password=G24jb123!" Name="Data Source=tcp:gendb.database.windows.net,1433;Initial Catalog=genesisapp_db;User Id=GenAppDbServer@gendb;Password=G24jb123!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GenApp.Repository.GenAppContext, GenApp.Repository" MigrationConfiguration="GenApp.Repository.Migrations.Configuration, GenApp.Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GenAppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gendb.database.windows.net,1433;Initial Catalog=genesisapp_db;User Id=GenAppDbServer@gendb;Password=G24jb123!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>